@model IEnumerable<Ensek.Application.Products.Commands.Import.Model>
<form method="post" asp-action="Import" enctype="multipart/form-data">
  <input name="file" type="file">
  <button>Upload</button>
</form>

@if (Model != null)
{
  <p>
    The following were imported. 
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>
        Row #
      </th>
      <th></th>
      <th>
        Id
      </th>
      <th>
        Product Name
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
  
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @item.RowNumber          
        </td>
        <td>
          @(item.Imported ? "Imported" : "Failed")
        </td>
        <td>
          @(item.ProductId > 0 ? item.ProductId.ToString() : string.Empty)
        </td>
        <td>
          @item.ProductName
        </td>
        <td>
          @if (item.Imported)
          {
            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
  
}

